body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    height: 95vh;
    width: 95vw;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

img {
    height: 150px;
}

#hover {
    height: 150px;
}